<!DOCTYPE html>

<html layout:decorate="~{th/layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <!-- Header start -->
  <div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">
      <span class="title_line_text">아이디 찾기</span>
    </h1>

    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item">
        <a th:href="@{/account/signin}">회원가입</a>
      </li>
      <li class="breadcrumb-item">
        <a th:href="@{/account/find_passwd_form}">비밀번호 찾기</a>
      </li>
    </ol>
  </div>
  <!-- Single Page Header End -->

  <div class="container-fluid fruite py-5">
    <div class="container py-5">
      <div class="message">
        <fieldset class="fieldset_basic">
          <ul>
            <div th:switch="${code}" class="li_none">
              <div th:case="find_success">
                <div class="center-box">
                  <span class="span_success" th:text="|${aname}님의 id는 ${aid}입니다.|"></span><br />
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <button type="button" th:attr="onclick=|location.href='./login?id=${aid}'|"
                    class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">로그인</button>
                </div>
              </div>
                <div th:case="find_fail">
                  <div class="center-box">
                  <span class="span_fail">회원정보가 일치하지 않습니다. 다시 입력해 주세요.</span><br />
                </div>
              <div class="d-flex justify-content-center mt-3">
                <button type="button" onclick="history.back()"
                  class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">다시
                  시도</button>
                <button type="button" th:attr="onclick=|location.href='./login?id=${aid}'|"
                  class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">로그인</button>
              </div>
              </div>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>

</html>