<!DOCTYPE html>
<html > <!-- layout.html 상속-->
<head>
  <title>Slide Navbar</title>
  <link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
 <link href="/css/style2.css" rel="stylesheet" type="text/css"> <!-- /static 기준 -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!--
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
-->
 <script>
   function changeBodyClass(newClass) {
  document.getElementById('body').className = newClass;
  
  const fileUploadWrapper = document.querySelector('.file-upload-wrapper');

  const fileUploadWrappernone = document.querySelector('.file-upload-wrapper-none');

  const mainbody = document.getElementById('mainbody');

if (fileUploadWrapper) {
    // 클래스 변경
    fileUploadWrapper.className = 'file-upload-wrapper-none';
  
  }

if (fileUploadWrappernone) {
    // 클래스 변경
    fileUploadWrappernone.className = 'file-upload-wrapper';
  
  }

  mainbody.checked = !mainbody.checked;
}

  </script>
  
   <script>
    window.onload = () => {
      document.querySelector('#aid').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') { // ===: 타입까지 확인
          document.getElementById('btn_checkID').focus();
        }
      }); 
  
      document.querySelector('#apasswd').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_senda').focus();
        }
      }); 
  
    }
   
    
    function senda() { // 회원 가입 처리
      let aid = document.getElementById('aid');
      let aid_msg = document.getElementById('aid_msg');
  
      if (aid.value.trim().length == 0) {
        aid_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        aid_msg.classList.add('span_warning');    // class 적용
        apasswd.focus();
  
        return false;  // 로그인 진행 중지
        
      }
  
      let apasswd = document.getElementById('apasswd');
      let apasswd_msg = document.getElementById('apasswd_msg');
  
      if (apasswd.value.trim().length == 0) {
        apasswd_msg.innerHTML= '패스워드 입력은 필수 입니다. 패스워드는 8자이상 권장합니다.';
        apasswd_msg.classList.add('span_warning');    // class 적용
        apasswd.focus();
  
        return false;  // 로그인 진행 중지
        
      }
  
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>
  <script>
    window.onload = () => {
      document.querySelector('#aid').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') { // ===: 타입까지 확인
          document.getElementById('btn_checkID').focus();
        }
      }); 
  
      document.querySelector('#apasswd').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('apasswd2').focus();
        }
      }); 
  
      document.querySelector('#apasswd2').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('aname').focus();
        }
      }); 
  
      document.querySelector('#aname').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('atel').focus();
        }
      });
      
      document.querySelector('#atel').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_DaumPostcode').focus();
        }
      }); 
      
      document.querySelector('#address2').addEventListener('keypress', (event) => {
      // document.getElementById('apasswd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
      
    }
    
  async function checkID() {
  let aid = document.getElementById('aid');
  let aid_msg = document.getElementById('aid_msg');

  if (aid.value.trim().length == 0) {
    aid_msg.innerHTML = 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
    aid_msg.classList.add('span_warning');
    aid.focus();
    return false; // 아이디가 비어있으면 유효하지 않음
  } else {
    // 중복 확인 로직...
    let url = './checkID?aid=' + aid.value;

    try {
      const response = await fetch(url);
      const rdata = await response.json();

      if (rdata.cnt > 0) { // 아이디 중복
        aid_msg.innerHTML = '이미 사용중인 ID(이메일) 입니다. 다른 ID(이메일)을 지정해주세요.';
        aid_msg.classList.add('span_warning');
        aid.focus();
        return false;
      } else { // 아이디 중복 안됨.
        aid_msg.innerHTML = '사용 가능한 ID(이메일) 입니다.';
        aid_msg.classList.add('span_info');
        return true;
      }
    } catch (error) {
      console.error('Error:', error);
      return false;
    }
  }
}  
    
    
/**async function checkForm() {
 let aid = document.getElementById('aid');
     let aid_msg = document.getElementById('aid_msg');
  
      if (aid.value.trim().length == 0) {
        aid_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        aid_msg.classList.add('span_warning');    // class 적용
        aid.focus();
  
        event.preventDefault();;  // 회원 가입 진행 중지
}
 else {
    // 중복 확인 로직...
    let url = './checkID?aid=' + aid.value;

    try {
      const response = await fetch(url);
      const rdata = await response.json();

      if (rdata.cnt > 0) { // 아이디 중복
        aid_msg.innerHTML = '이미 사용중인 ID(이메일) 입니다. 다른 ID(이메일)을 지정해주세요.';
        aid_msg.classList.add('span_warning');
        aid.focus();
       event.preventDefault();
      } else { // 아이디 중복 안됨.
        aid_msg.innerHTML = '사용 가능한 ID(이메일) 입니다.';
        aid_msg.classList.add('span_info');
        return true;
      }
    } catch (error) {
      console.error('Error:', error);
      event.preventDefault;
    }
  }


  let apasswd = document.getElementById('apasswd');
  let apasswd2 = document.getElementById('apasswd2');
  let apasswd2_msg = document.getElementById('apasswd2_msg');

  if (apasswd.value != apasswd2.value) {
    apasswd2_msg.innerHTML = '입력된 패스워드가 일치하지 않습니다.';
    apasswd2_msg.classList.add('span_warning');
    apasswd.focus();
    event.preventDefault();;
  }

  let aname = document.getElementById('aname');
  let aname_msg = document.getElementById('aname_msg');

  if (aname.value.length == 0) {
    aname_msg.innerHTML = '이름 입력은 필수입니다.';
    aname_msg.classList.add('span_warning');
    aname.focus();
    event.preventDefault();;
  }

  return true; // 모든 유효성 검사 통과하면 폼 제출
}
**/

    
    function send() { // 회원 가입 처리
      let aid = document.getElementById('aid');
      let aid_msg = document.getElementById('aid_msg');
  
      if (aid.value.trim().length == 0) {
        aid_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        aid_msg.classList.add('span_warning');    // class 적용
        aid.focus();
  
       event.preventDefault();;  // 회원 가입 진행 중지
        
      }
  
      // 패스워드를 정상적으로 2번 입력했는지 확인
      let apasswd = document.getElementById('apasswd');
      let apasswd2 = document.getElementById('apasswd2');
      let apasswd2_msg = document.getElementById('apasswd2_msg');
  
      if (apasswd.value != apasswd2.value) {
        apasswd2_msg.innerHTML= '입력된 패스워드가 일치하지 않습니다.';
        apasswd2_msg.classList.add('span_warning');    // class 적용
        apasswd.focus();  // 첫번째 패스워드로 focus 설정
  
        return false;  // 회원 가입 진행 중지
      }
  
      let aname = document.getElementById('aname');
      let aname_msg = document.getElementById('aname_msg');
  
      if (aname.value.length == 0) {
        aname_msg.innerHTML= '이름 입력은 필수입니다.';
        aname_msg.classList.add('span_warning');    // class 적용
        aname.focus();
  
        return false;  // 회원 가입 진행 중지
      }
  
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>

</head>
    
   
  <div class="navbar" th:replace="~{th/navbar::navbarFragment}"></div>
        
<body class="loginbody" id="body">
    
  <!-- Button trigger modal -->

  
  <!-- Button trigger modal -->

  
  <input type="checkbox" id="mainbody" aria-hidden="true" checked>
  <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true" checked>

      <div class="signup">
        <form name="frm" id="frm" th:object="${accountVO}" method="post" action="/account/signin_account" enctype="multipart/form-data" onsubmit="return checkForm();">
      
          
          <label for="chk" aria-hidden="true" onclick="changeBodyClass('signupbody')">Sign up</label>
         <div class="signleft">
         <div>
          <input type='text' name='aname' id='aname' value='하정우' required="required" 
                   placeholder="성명" class="signinput" >
        <span class="msg" id='aname_msg'></span></div>
         <div class="signemail">
  
  <input type="text" name="aid" id="aid" value="" placeholder="email" class="signinput" th:field="*{aid}">
  <br>
  <span class="msg" id='aid_msg'></span>
  <button type='button' id="btn_checkID" onclick="checkID()" class="btn btn-junbok" style="margin-top: 4px;">중복확인</button>
   
  
</div>
          <div class="signpasswd">
            <input type='password' name='apasswd' id='apasswd' value='1234' required="required" 
                  placeholder="패스워드" class="signinput" >
          </div>
          <div class="signpasswdcheck">
             <input type='password' name='apasswd2' id='apasswd2' value='1234' required="required" 
                  placeholder="패스워드 확인" class="signinput" >
        <span class="msg" id='apasswd2_msg'></span>
          </div>
          </div>
          <div class="signright">
            
          <div class="phonenumber">
          <input type='text' name='atel' id='atel' value='010-0000-0000' required="required" 
                  placeholder="전화번호" class="signinput" ></div>
          
          
          <div class="zipcode">
            <input type='text' name='zipcode' id='zipcode' value='' placeholder="우편번호"
                  class="signinput" >
        
        <button type="button" id="btn_DaumPostcode" onclick="DaumPostcode()"  class="btn btn-junbok" style="margin-top: 4px;">우편번호 찾기</button>
          </div>
          
          <div class="address1">
            <input type='text' name='address1' id='address1' value='' placeholder="주소"
                   class="signinput">
          </div>
          
          
     <div class="file-upload-wrapper-none" data-text="profile img">
      <input name='aprofile_imgMF' id='aprofile_imgMF' type="file" class="file-upload-field" value="">
    </div>
     
          
          
          
          </div>
          <button onclick="send();" class="signbnt">Sign up</button>
        </form>
      </div>

      <div class="login">
        <form name="frm" id="frm" th:object="${accountVO}" method="post" action="/account/login_account">
          <input type='hidden' name='url' id='url' th:value='${url}'>
          <label for="chk" aria-hidden="true" onclick="changeBodyClass('loginbody')">Login</label>
<div>
          <input type="text" name="aid" id="aid"  placeholder="Email" required="" th:value="admin7" 
               class="logininput">
               <span class="msg" id='id_msg'></span>
          </div>
          <div>
          <input type='password' name='apasswd' id='apasswd' value='1234' required="required" 
                  placeholder="패스워드" class="logininput">
          </div>
          <button type="button" onclick="senda();"  class="loginbnt">Login</button>
          
          <button onclick="location.href='/manager/login'" class="loginbnt">admin login</button>
          
          
                </form>
      </div>
  </div>
  
  
 <div class="modal fade" id="zipcodeModal" tabindex="-1" role="dialog" aria-labelledby="zipcodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zipcodeModalLabel">우편번호 찾기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 모달 내용 -->
        <!-- 이 곳에 우편번호 입력 폼 등을 넣으세요 -->
        <!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
    <div>
<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
</div>
        
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
            var element_wrap = document.getElementById('wrap');
            function foldDaumPostcode() {
              element_wrap.style.display = 'none';
            }

            function DaumPostcode() {
              $('#zipcodeModal').modal('show');
              var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
              new daum.Postcode({
                oncomplete: function(data) {
                  var addr = '';
                  if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                  } else {
                    addr = data.jibunAddress;
                  }
                  document.getElementById('zipcode').value = data.zonecode;
                  document.getElementById("address1").value = addr;
                  document.getElementById("address1").focus();
                 
                  element_wrap.style.display = 'none';
                  document.body.scrollTop = currentScroll;
                  $('#zipcodeModal').modal('hide');
                },
                onresize: function(size) {
                  element_wrap.style.height = size.height + 'px';
                },
                width: '100%',
                height: '100%'
              }).embed(element_wrap);
              element_wrap.style.display = 'block';
               
            }
            
          </script>

    </div>
<!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <!-- 다른 필요한 버튼들을 추가하세요 -->
      </div>
    </div>
  </div>
</div>


<script> // 파일 이름 체인지
    $("form").on("change", ".file-upload-field", function(){ 
    $(this).parent(".file-upload-wrapper").attr("data-text",         $(this).val().replace(/.*(\/|\\)/, '') );
});</script>
</body>

 
</html>
  
  