<!DOCTYPE html>
<html layout:decorate="~{th/layout}">
  <!-- layout.html 상속-->
  <div layout:fragment="content">

  <div class='title_line'>
    
  <div class='menu_line'></div>
  
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 80%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
      <th class='th_bs'>출력모드</th>
    </tr>
    
    <tr th:if="${list.size() > 0}" th:each="boardVO, status:${list}" 
        th:attr="onclick=|location.href='/board/read?boardno=${boardVO.boardno}'|"
        style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${boardVO.bphoto.endsWith('jpg') || boardVO.bphoto.endsWith('png')  || boardVO.bphoto.endsWith('gif')}">
          <img th:src="@{|/board/storage/${boardVO.bthumb}|}" style="width: 120px; height: 90px;">
        </div>

        <div th:if="${((boardVO.bphoto.endsWith('jpg') || boardVO.bphoto.endsWith('png')  || boardVO.bphoto.endsWith('gif')) == false) && (boardVO.bsize > 0)}">
          <span th:text="${boardVO.bphoto}"></span>
        </div>

        <div th:if="${boardVO.bsize == 0}">
          <img src="/board/images/aaa.jpg" style="width: 120px; height: 90px;">
        </div>
                
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${boardVO.btitle}" style="font-weight: bold;"></span>
        <span th:text="|&nbsp;${boardVO.bdate.substring(0, 10)}|"></span><br>

        <span th:if="${boardVO.bcontent.length() > 160 }" 
                  th:text="|${boardVO.bcontent.substring(0, 160) }...|"></span>
        <span th:if="${boardVO.bcontent.length() <= 160 }" 
                  th:text="|${boardVO.bcontent}|"></span>
        
      </td>

      <td>
        <span th:text="${boardVO.bvisible}" style="font-weight: bold;"></span>
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>

</div>
</html>





