<!DOCTYPE html>

<html layout:decorate="~{th/layout}">
  <!-- layout.html 상속-->
  <div layout:fragment="content">
    <div class="container-fluid page-header py-5">
      <h1 class="text-center text-white display-6">
        <span>컨텐츠 > 알림</span>
      </h1>
    </div>
    <div class="message">
      <!-- 컨테이너  -->
      <div class="container-fluid fruite py-5">
        <div class="container py-5">
          <ul>
            <li th:switch="${code}" class="li_none">
              <div th:case="create_success"><span class="span_fail">SUCCESS</span><br /></div>
              <div th:case="create_fail">
                <span class="span_fail">알수 없는 원인으로 등록에 실패했습니다.</span><br />
                다시 시도해주세요.
              </div>
              <div th:case="check_upload_file_fail">
                <span class="span_fail">등록 할 수 없는 파일 형식입니다.</span><br />
                다시 시도해주세요.
              </div>
              <div th:case="passwd_fail">
                <span class="span_fail">패스워드가 일치하지 않습니다.</span><br />
                다시 시도해주세요.
              </div>
              <div th:case="delete_success">
                <span class="span_success">카테고리 삭제에 성공했습니다.</span><br />
                삭제된 카테고리: <span th:text="${name}"></span>
                <span th:if="${namesub != '-'}" th:text="' - ' + ${namesub}"></span>
              </div>
              <div th:case="delete_fail">
                <span class="span_fail">카테고리 삭제에 실패했습니다.</span><br />
                삭제 실패된 카테고리: <span th:text="${name}"></span>
                <span th:if="${namesub != '-'}" th:text="' - ' + ${namesub}"></span>
              </div>
              <div th:case="not_authorized">
                <span class="span_fail">권한이 없어서 수정에 실패했습니다.</span><br />
                다시 시도해주세요.
              </div>
            </li>

            <li class="li_none">
              <div th:if="${cnt == 0}">
                <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">다시 시도</button>
              </div>
              <div th:if="${cnt != 0}">
                <button type="button" onclick="location.href='/board/list_cno'" class="btn btn-secondary btn-sm">목록</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</html>
