<!DOCTYPE html>
<html layout:decorate="~{th/layout}">
  <!-- layout.html 상속-->
  <div layout:fragment="content">
    <div class="container-fluid page-header py-5">
      <h1 class="text-center text-white display-6">
        <span th:text="${crudcateVO.name}" class="title_line_text"></span>
        > <span th:text="${crudcateVO.namesub}" class="title_line_text"></span> > <span>글 수정</span>
      </h1>
    </div>

    <div class="container-fluid fruite py-5">
      <div class="container py-5">
        <form name="frm" method="post" action="./youtube">
          <input type="hidden" name="boardno" th:value="${boardVO.boardno}" />
          <!-- <input type="hidden" name="word" th:value="${word}">
    <input type="hidden" name="now_page" th:value="${now_page}"> -->

          <div>
            <label>Youtube 스크립트</label>
            <textarea name="byoutube" class="form-control" rows="12" style="width: 100%" th:text="${boardVO.byoutube}"></textarea>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">저장</button>
            <button
              type="button"
              onclick="frm.byoutube.value=''; frm.submit();"
              class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1"
            >
              지우기
            </button>
            <button type="button" onclick="history.back();" class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">
              취소
            </button>
          </div>
        </form>

        <hr />
        <div style="text-align: center">
          <h5>[참고] Youtube의 등록 방법</h5>
          <img src="/board/images/youtube01.jpg" style="width: 60%" /><br /><br />
          <img src="/board/images/youtube02.jpg" style="width: 60%" /><br />
        </div>
      </div>
    </div>
  </div>
</html>
