<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> 
<head>
  <link href="/css/style.css" rel="Stylesheet" type="text/css"> <!-- /static 기준 -->
</head>
<div layout:fragment="content">
<div th:fragment="avgscore">
  

  <aside class="aside_right">
    
    
    
  </aside> 
   
  <div class='menu_line'></div>
       
   <table  style='width: 100%;'>
    <colgroup>
      <col style='width: 45%;'/>
      
      <col style='width: 5%;'/>
      
      
      <col style='width: 5%;'/>
    </colgroup>
    
   
    <tr th:each="gpaVO, status:${list}">
      
       <fieldset>
         
         
         <td th:if="${gpaVO == null}" class='td_basic'>
          <span>별점을 등록해주세요</span>
        </td>
        
       <div th:if="${gpaVO != null}">  
        <td class="avgstar">
          <span th:each="star : ${#numbers.sequence(1, gpaVO.avg_gpascore)}" name="reviewStar" id="starfont"><i class="fa fa-star text-secondary"></i></span>
          </td>
         
       
      
      </div>
      </fieldset>
    </tr>
  </table>
   
  <!--<div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>-->
</div>
</div>
</html>


