<!DOCTYPE html>

<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class='title_line'> 댓글</div>

  <table class="table table-hover">
    <colgroup>
      <col style='width: 20%;' />
      <col style='width: 20%;' />
      <col style='width: 20%;' />
      <col style='width: 20%;' />
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">내용</th>
        <th class="th_bs">이미지</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="breplyVO, status:${list}">
        <td class="td_bs" th:text="${breplyVO.breplyno}"></td>
        <td class="td_bs"><a th:href="@{|./read?breplyno=${breplyVO.breplyno}|}" style="display: block;"
            th:text="${breplyVO.breplycont}"></a></td>
        <td class='td_basic' >
          <div th:if="${breplyVO.breplyimg.endsWith('jpg') or breplyVO.breplyimg.endsWith('png') or breplyVO.breplyimg.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${breplyVO.breplythumb}|}" style="width: 90px; height: 70px;">
          </div>
            
          <div th:if="${breplyVO.breplysize == 0}">
            <img src="/account/images/basic.jpg" style="width: 90px; height: 70px;">
          </div>
        </td>
        <td class="td_bs" th:text="${breplyVO.breplydate.substring(0, 10)}"></td>
        <td class="td_bs">
          <a th:href="@{|/breply/update/${breplyVO.breplyno}|}"><i class="bi bi-pencil-square"></i></a>
          <span class="menu_devide"> |</span>
          <a th:href="@{|/breply/delete/${breplyVO.breplyno}|}"><i class="bi bi-trash3"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</html>