<!DOCTYPE html>
<html layout:decorate="~{th/layout}">
  <!-- layout.html 상속-->
  <div layout:fragment="content">
    <div th:fragment="create" >
    <!-- Header start -->
    <div class="container-fluid page-header py-5">
      <h1 class="text-center text-white display-6">
        <span>지역 음식 레시피 등록</span>
        <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
      </h1>
    </div>
    <!-- Header End -->
    
    <div class="container-fluid fruite py-5">
      <div class="container py-5">


    <div class="menu_line"></div>

    <form name="frm" method="post" th:object="${recipe_stepVO}" action="./create" enctype="multipart/form-data">
      
      <input type="hidden" name="step_no" th:value="${recipe_stepVO.step_no}" />
<input type="hidden" name="foodno" th:value="${recipe_stepVO.foodno}">


      
      
      <div>
        <label>단계별 텍스트</label>
        <input type="text" name="step_text" required="required" autofocus="autofocus" class="form-control" style="width: 100%" />
      </div>
     
     <div>
         <label>단계별 이미지</label>
       <input type='file' class="form-control" name='sphotoNF' id='sphotoNF' value='' placeholder="파일 선택">  </div>
      <div>
        
     <div>
  
      
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button
          type="button"
          onclick="location.href='./list?foodno=${param.foodno}'" 
          class="btn btn-secondary btn-sm"
        >
          목록
        </button>
      </div>
    </form>
    </div>
    </div>
    </div>
  </div>
</html>
