<!DOCTYPE html>
<html layout:decorate="~{th/layout}" xmlns:th="http://www.thymeleaf.org">
  <!-- layout.html 상속-->
  <div layout:fragment="content">
    <!-- Header start -->
    <div class="container-fluid page-header py-5">
      <h1 class="text-center text-white display-6">
        <span>채팅방</span>
        <!-- <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span> -->
      </h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript">
      $(document).ready(function () {
        const aid = /*[[${aid}]]*/ null; // 컨트롤러에서 설정한 aid 변수 사용
        const mid = /*[[${mid}]]*/ null; // 컨트롤러에서 설정한 mid 변수 사용

        let username = "guest"; // 기본값으로 'guest' 설정

        // username을 aid와 mid 값을 기반으로 설정
        if (aid) {
          username = aid;
        } else if (mid) {
          username = mid;
        }

        $("#button-disconnect").on("click", (e) => {
          disconnect();
          window.close();
        });

        $("#button-send").on("click", (e) => {
          send();
        });

        // input 요소에 keydown 이벤트 리스너 추가
        $("#msg").on("keydown", function (e) {
          if (e.key === "Enter") {
            send();
          }
        });

        const websocket = new WebSocket("ws://localhost:9093/ws/chat");

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        function send() {
          let msg = document.getElementById("msg");
          console.log(username + ":" + msg.value);
          websocket.send(username + ":" + msg.value);
          msg.value = "";
        }

        // 채팅창에서 나갔을 때
        function onClose(evt) {
          var str = username + ": 님이 방을 나가셨습니다.";
          websocket.send(str);
        }

        // 채팅창에 들어왔을 때
        function onOpen(evt) {
          var str = username + ": 님이 입장하셨습니다.";
          websocket.send(str);
        }

        function onMessage(msg) {
          var data = msg.data;
          var sessionId = null;
          var message = null;
          var arr = data.split(":");

          for (var i = 0; i < arr.length; i++) {
            console.log("arr[" + i + "]: " + arr[i]);
          }

          var cur_session = username;

          // 현재 세션에 로그인 한 사람
          console.log("cur_session : " + cur_session);
          sessionId = arr[0];
          message = arr[1];

          console.log("sessionID : " + sessionId);
          console.log("cur_session : " + cur_session);

          // 로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
          if (sessionId == cur_session) {
            var str = "<div class='d-flex justify-content-end'>";
            str += "<div class='alert alert-primary'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
          } else {
            var str = "<div class='d-flex justify-content-start'>";
            str += "<div class='alert alert-warning'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
          }
        }

        function disconnect() {
          onClose();
        }
      });
    </script>

    <!-- Header End -->

    <!-- 컨테이너  -->
    <div class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="">
          <div class="col-6">
            <label><b>채팅방</b></label>
          </div>

          <div>
            <div id="msgArea" class="col"></div>

            <div class="col">
              <div class="input-group mb-3">
                <input
                  type="text"
                  id="msg"
                  class="form-control border-2 rounded-1 mx-1"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                  <button class="btn btn-outline-danger" type="button" id="button-disconnect">나가기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
