<!DOCTYPE html>

<html layout:decorate="~{layout}">
  <!-- layout.html 상속-->
  <div layout:fragment="content">
    <div class="title_line">
      <span th:text="${crudcateVO.name}" class="title_line_text"></span>
      > <span th:text="${crudcateVO.namesub}" class="title_line_text"></span>
      > 파일 수정
    </div>

    <div class="menu_line"></div>

    <fieldset class="fieldset_basic">
      <ul>
        <li class="li_none">
          <div
            th:if="${boardVO.bphoto.endsWith('jpg') or boardVO.bphoto.endsWith('png')  or boardVO.bphoto.endsWith('gif')}"
            style="text-align: center; width: 50%; float: left"
          >
            <img th:src="@{|/board/storage/${boardVO.bphotosaved}|}" style="width: 90%" />
          </div>

          <div
            th:if="${((boardVO.bphoto.endsWith('jpg') or boardVO.bphoto.endsWith('png')  or boardVO.bphoto.endsWith('gif')) == false) and (boardVO.bsize > 0)}"
            class="display_table"
            style="float: left; width: 50%"
          >
            <div class="display_table_cell">
              <span th:text="${boardVO.bphoto}"></span>
            </div>
          </div>

          <div th:if="${boardVO.bsize == 0}" style="text-align: center; width: 50%; float: left">
            <img src="/board/images/none1.png" style="width: 90%" />
          </div>

          <div style="text-align: left; width: 47%; float: left">
            <span style="font-size: 1.5em" th:text="${boardVO.btitle}"></span>
            <br />
            <form name="frm" method="POST" action="./update_file" enctype="multipart/form-data">
              <input type="hidden" name="crudcateno" th:value="${crudcateVO.crudcateno}" />
              <input type="hidden" name="boardno" th:value="${boardVO.boardno}" />
              <input type="hidden" name="accountno" th:value="${boardVO.accountno}" />
              <input type="hidden" name="now_page" th:value="${now_page}" />
              <input type="hidden" name="word" th:value="${word}" />

              <br /><br />
              변경 이미지 선택<br />
              <input type="file" name="bphotoNF" id="bphotoNF" value="" placeholder="파일 선택" /><br />
              <br />
              <div style="margin-top: 20px; clear: both">
                <button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
                <button type="submit" class="btn btn-secondary btn-sm">파일 삭제</button>
                <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </fieldset>
  </div>
</html>
