  <!DOCTYPE html>
  
<html layout:decorate="~{th/layout}"> 
    <head>
      <meta charset="UTF-8"> 
<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, width=device-width" />
    <link href="/css/style.css" rel="Stylesheet" type="text/css">
    
</head>
    <!-- layout.html 상속-->
    
    <div layout:fragment="content">
      <div class="title_line">단어 수정</div>
  
      <!-- /crudcate/list_search_component 로 교체 -->
      
      <div class="menu_line"></div>
  
      <form name="frm" th:object="${vocabularyVO}" method="post" action="update" enctype="multipart/form-data">
        <!-- hidden -->
        <input type="hidden" name="vocano" th:value="${vocabularyVO.vocano}" />
        
  
       <div style="margin: 5px auto; width: 50%">
        <input
            type="text"
            name="voca" 
            value="{voca}"
            class="form-control fom-control-sm"
            style="width: 100%; height: 50px"
            th:field="*{voca}"
            placeholder="수정할 단어를 입력하세요."
        />
        <div th:if="${#fields.hasErrors('voca')}" class="alert alert-danger" role="alert" style="margin-top: 5px">
          <div th:each="err : ${#lists.sort(#fields.errors('voca'))}" th:text="${err}"></div>
        </div>
      </div>
        
        <!-- 뜻 수정-->
       <div style="margin: 5px auto; width: 50%">
        <input
            type="text"
            name="mean" 
            value="{mean}"
            class="form-control fom-control-sm"
            style="width: 100%; height: 300px"
            th:field="*{mean}"
            placeholder="수정할 단어의 뜻을 입력하세요."
        />
        <div th:if="${#fields.hasErrors('mean')}" class="alert alert-danger" role="alert" style="margin-top: 5px">
          <div th:each="err : ${#lists.sort(#fields.errors('mean'))}" th:text="${err}"></div>
        </div>
      </div>
  
        
        <div class="content_body_bottom">
          <button type="submit" class="btn btn-secondary btn-sm">수정</button>
          <button
            type="button"
            th:attr="onclick=|location.href='/gpa/list'|"
            class="btn btn-secondary btn-sm"
          >
            취소
          </button>
        </div>
      </form>
  </div>
      <br />
      <!-- /crudcate/list_all_component 로 교체 -->
      <div th:replace="~{crudcate/list_all_component::list_all_fragment}"></div>
    </div>
  </html>
