<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    > 파일 수정
  </div>
  
  <aside class="aside_right">
    <a href="/breply/list">댓글 목록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/brereply/brereply_list?brereplyno=${brereplyVO.brereplyno}|}">대댓글 목록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/brereply/brereply_delete?brereplyno=${brereplyVO.brereplyno}|}">대댓글 삭제</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${brereplyVO.brereplyimg.endsWith('jpg') or brereplyVO.brereplyimg.endsWith('png')  or brereplyVO.brereplyimg.endsWith('gif')}"
             style='text-align: center; width: 50%; float: left;'>
        <img th:src="@{|/brereply/storage/${brereplyVO.brereplythumb}|}" style="width: 90%;">
        </div>

        <div th:if="${((brereplyVO.brereplyimg.endsWith('jpg') or brereplyVO.brereplyimg.endsWith('png')  or brereplyVO.brereplyimg.endsWith('gif')) == false) and (brereplyVO.brereplysize > 0)}"
             class="display_table" style='width: 50%; float: left;'>
          <div class="display_table_cell">
            <span th:text="${brereplyVO.brereplyimg}"></span>
          </div>
        </div>

        <div th:if="${brereplyVO.brereplysize == 0}" style='text-align: center; width: 50%; float: left;'>
          <img src="/brereply/images/none3.png" style="width: 90%;">
        </div>

        <DIV style='text-align: left; width: 47%; float: left;'>
          <br>
          <FORM name='frm' method='POST' action='/brereply/brereply_update' enctype="multipart/form-data">
            <!--<input type="hidden" name="cateno" th:value="${cateVO.cateno }">-->
            <input type="hidden" name="brereplyno" th:value="${brereplyVO.brereplyno}">

            <textarea type="text" name="brereplycont" id="brereplycont"style='font-size: 1.5em; width: 600px;' th:text="${brereplyVO.brereplycont}"></textarea>
                
            <br><br> 
            변경 이미지 선택<br>  
            <input type='file' name='fileMF' id='fileMF' value='' placeholder="파일 선택"><br><br><br>
            <input type='password' name='brereplypasswd' id='brereplypasswd' value='1234'><br>
            <br>
            <div style='margin-top: 20px; clear: both;'>  
              <button type="submit" class="btn btn-secondary btn-sm">저장</button>
              <button type="submit" class="btn btn-secondary btn-sm">파일 삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </FORM>
        </DIV>
      </li>
    </ul>
  </fieldset>

</div>

</html>
  