<!DOCTYPE html>

<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <div class="title_line">카테고리 조회</div>

    <div class="menu_line"></div>

    <div class="container w-75 mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">번호: <span th:text="${crudcateVO.crudcateno}"></span></li>
        <li class="list-group-item">대분류: <span th:text="${crudcateVO.name}"></span></li>
        <li class="list-group-item">중분류: <span th:text="${crudcateVO.namesub}"></span></li>
        <li class="list-group-item">소분류: <span th:text="${crudcateVO.namesubsub}"></span></li>
        <li class="list-group-item">자료수: <span th:text="${crudcateVO.crudate}"></span></li>
        <li class="list-group-item">등록일: <span th:text="${crudcateVO.cnt}"></span></li>
        <li class="list-group-item">출력 순서: <span th:text="${crudcateVO.seqno}"></span></li>
        <li class="list-group-item">출력 모드: <span th:text="${crudcateVO.visible}"></span></li>
      </ul>
    </div>
  </div>
</html>
