<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'> 
    > 댓글 내용 수정
  </div>
  
  <aside class="aside_right">
    <a href="./create">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a href="./list">댓글 목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${breplyVO}" action='./update_contents'>
    <!--<input type="hidden" name="crudcateno" th:value="${crudcateVO.crudcateno}"> -->
    <!--<input type="hidden" name="breplyno" th:value="${breplyVO.breplyno}">-->
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">


    <div>
       <label>내용</label>
       <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;' th:text='${breplyVO.breplycont}'> </textarea>
    </div>
    <!--
    <div>
       <label>검색어</label>
       <input type='text' name='word' th:value='${breplyVO.word}' required="required" 
                 class="form-control" style='width: 100%;'>
    </div>   
    -->
 
    <div>
       <label>패스워드</label>
       <input type="password" name="breplypasswd" value="" class="form-control form-control-sm" style="width: 100%;"
        th:field="*{breplypasswd}" placeholder="비밀번호를 입력해주세요">
    </div>   
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" href="./list" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>

</html>
  